<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header",{title:"Home"})%>
  <body>
    <header>
      <div class="flex-row">
        <h1 class="logo"><span>GYM </span>Store</h1>
        <div class="search-result-holder">
          <form action="/search" method="get" class="flex-row" id="search-form">
            <label
              for="searchInput"
              aria-label="search category or item by name"
            >
              <input
                type="text"
                name="searchInput"
                id="searchInput"
                class="search-input"
                minlength="3"
                placeholder="Enter category or item name"
              />
              <span class="err-msg-search"></span>
            </label>
            <button type="submit" class="search-btn"></button>
          </form>
          <div class="dropdown">
            <ul class="search-ul" id="searchResultDropdown"></ul>
          </div>
        </div>

        <button class="add-category-link" data-category="add-cat">
          Add Category
        </button>
      </div>
      <div class="hero flex-row">
        <img
          class="hero-img"
          src="/images/kong.jpg"
          alt="gorilla lift barbell"
        />
        <div class="hero-detail">
          <h2>BUY WITH BEST PRICE</h2>
          <p>
            We got best Fitness Equipment check out the category and items in it
            for more.
          </p>
        </div>
      </div>
    </header>

    <main>
      <section>
        <p>Total categories: <%= countCategories%></p>
        <p>Total items : <%= countItems %></p>
        <p>Total items Price: <%= sumPrice%></p>
      </section>
      <section class="category-holder">
        <h2 class="cat-title">Choose Category</h2>
        <%- include("./partials/categoryCard",{categories:categories}) %>
      </section>

      <section class="modal-holder">
        <%- include("./partials/category-form",{category:category})%>
      </section>
    </main>

    <script type="module">
      document.addEventListener("DOMContentLoaded", function () {
        import("/home-page.js")
          .then((module) => {})
          .catch((err) => {
            console.error("Failed to load module:", err);
          });
      });
    </script>
  </body>
</html>
